<!doctype html>
<!--[if lte IE 8]>     <html class="lte-ie8" lang="en">  <![endif]-->
<!--[if IE 9]>         <html class="ie9" lang="en">      <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title><%= metaTitle %></title>

	<meta name="description" content="<%= metaDescription %>">
	<meta name="keywords" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= body %>
</body>
</html>